* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-box {
    width: 1280px;
    height: 110px;
}

.logo {
    float: left;
}

.face {
    margin: 0 auto;
    height: 643px;
    background-image: url(./img/rectangle\(split2\).png);
}


.menu-link {
    font-size: 16px;
    color: #2f2f2f;
    text-decoration: none;
}

.box-link {
    font-size: 21px;
    color: #ffffff;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.menu-list {
    float: left;
}

.menu {
    list-style-type: none;
    float: left;
}

.black-box {
    background-color: #2e2e2e;
    width: 397px;
    height: 466px;
    float: right;
    margin-right: 52px;
    margin-top: 177px ;
}

.box-menu {
    list-style-type: none;
}

.header {
    padding-top: 48px;
}