* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-box {
    width: 1280px;
    height: 110px;
}

.logo {
    margin-top: 23px;
    margin-left: 70px;
    float: left;
}

.menu {
    margin-top: 48px;
    margin-left: 47px;
    color: #2f2f2f;
}

.menu li {
    margin-right: 40px;
}

.menu a {
    width: 97px;
    height: 19px;
    object-fit: contain;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f2f2f;
    text-decoration: none;
}

.header {
    padding-top: 48px;
}

.face {
    margin: 0 auto;
    height: 643px;
    background-image: url(./img/rectangle\(split2\).png);
}

.box-link a {
    font-size: 21px;
    color: #ffffff;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.menu-list {
    float: left;
}

.menu {
    list-style-type: none;
    float: left;
}

.black-box {

    margin-top: -127px;
    background-color: #2e2e2e;
    width: 397px;
    height: 466px;
    float: right;
    margin-right: 52px;
}

.black-area {
    width: 449px;
    height: 466px;
    float: right;
    margin-top: 177px;
}

.delaem {
    border-bottom: 1px solid #ffffff;
    position: relative;
    height: 127px;
    float: right;
    width: 449px;
}

.delaem h2 {
    margin-top: 72px;
    width: 126px;
    height: 48px;
    object-fit: contain;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 14px;
}

.box-menu {
    list-style-type: none;
    margin-top: 162px
}

.box-menu a {
    width: 98px;
    height: 24px;
    object-fit: contain;
    font-family: "Helvetica Neue";
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
}

.box-menu li {
    margin-bottom: 24px;
    margin-left: 14px;
}

.black-line {
    margin-top: 56px;
    width: 357px;
    height: 208px;
    border-left: #383737 solid 1px;
}

.face-text-area {
    width: 357px;
    height: 536px;
    margin-left: 102px;
    margin-bottom: 20px;
    float: left;
}

.o_nas {
    margin-top: 168px;
    margin-left: 26px;
    height: 36px;
    width: 97px;
    float: left;
}

.o_nas h2 {
    width: 97px;
    height: 36px;
    object-fit: contain;
    font-family: "PlayfairDisplay";
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #383737;
}



.face-text p {
    margin-left: 26px;
    margin-top: 20px;
    overflow: hidden;
    /* не уверен что это лучшее решщение */
    width: 331px;
    height: 300px;
    object-fit: contain;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #383737;
}

.footer {
    margin: 0 auto;
    margin-top: 78px;
    height: 203px;
    width: 1280px;
}

.footer img {
    margin-top: 78px;
    height: 181px;
    width: 1280px;
}

.black-footer {
    margin-top: -22px;
    position: relative;
    z-index: 2;
    width: 1280px;
    height: 43px;
    object-fit: contain;
    background-color: #1a1a1a;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.089);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_body {
    min-height: 100%;
    display: flex;
    margin-top: 139px;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: #ffffff;
    width: 807px;
    height: 539px;
    max-width: 807px;
    max-height: 539px;
    position: relative;
}

.popup_close {
    font-size: 20px;
    position: absolute;
    right: 21px;
    top: 19px;
    text-decoration: none;
}

.popup_title {
    margin-top: 51px;
    margin-left: 107px;
    font-size: 24px;

}

.popup_input {
    margin-left: 108px;
    margin-top: 15px;
    font-size: 12px;
}

.popup_button {
    margin-top: 24px;
    margin-right: 118px;
    margin-bottom: 36px;
    float: right;

}

.popup_button button {
    font-size: 16px;
    width: 113px;
    height: 40px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
}

button,
button:active,
button:focus {
    outline: none !important;
}